//
   Created by kfu on 6/30/16.

nav.navbar.navbar-default.unrounded(role='navigation')
    .navbar-header
        a.navbar-brand(href='/')
            img(src='images/entree-header-logo.svg')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
            li
                a.button.icon.chat(href='#')
                    span Become a Partner
            li
                a(href='#') Link


