extends shared/layout

//html
//    body
//        h1 You have successfully logged in
//        form(name='logout', method='get', action='/login/logout')
//            input(type='submit', value='Logout')
