html
    body
        form(name='login', method='post', action='/login/login', accept-charset='utf-8')
            h3 Login
            ul(style='list-style-type: none')
                li  Username
                    input(type='username', name='username', placeholder='yourname', required='')
                li  Password
                    input(type='password', name='password', placeholder='password', required='')
                li
                    input(type='submit', value='Login')