html
    body
        form(name='register', method='post', action='/register/register', accept-charset='utf-8')
            h3 Register
            ul(style='list-style-type: none')
                li  Username
                    input(type='username', name='username', placeholder='yourname', required='')
                li  Password
                    input(type='password', name='password', placeholder='password', required='')
                li  Email
                    input(type='email', name='email', placeholder='yourname@gmail.com', required='')
                li
                    input(type='submit', value='Register')