#tagline {
    color: white;
    font-size: 70px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding-top: 30px;
    margin-bottom: -60px;
}

.front {
    z-index: -1;
    position: relative;
}

.center {
    text-align: center;
}

.center-block {
    display: inline-block;
}